// Mixin for justify-content property
@mixin justify-content($value) {
  display: flex;
  justify-content: $value;
}

// Variables

// Colors

// Neutral

$neutral-900: hsl(0, 0%, 7%);
$neutral-800: hsl(0, 0%, 15%);
$neutral-500: hsl(240, 3%, 46%);
$neutral-400: hsl(240, 1%, 59%);
$neutral-0: hsl(0, 0%, 100%);

// Blue

$blue-600: hsl(214, 100%, 55%);
$blue-400: hsl(210, 100%, 65%);

// Red

$red-500: hsl(354, 63%, 57%);

// Green

$green-500: hsl(140, 63%, 57%);

// Yellow

$yellow-400: hsl(49, 85%, 70%);

// Test related Text Colors
$correct-text-color: $green-500;
$incorrect-text-color: $red-500;
$default-text-color: $neutral-400;

//Typography

// Body Copy

$default-text-size: 16px;
$default-line-height: 1.5;

// Viewport Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

// Media Query Mixins
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $breakpoint-tablet) {  
    @content;
  }
}